<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<RollingFile fileName="/tmp/halService.log" filePattern="/tmp/halService-%d{MM-dd-yyyy}-%i.log"
			name="halService">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %X{id} %X{username} %-5level %c{36} %l: %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="4" min="1"/>
		</RollingFile>
	</appenders>
	<loggers>
		<logger level="DEBUG" name="net.viperfish">
			<appender-ref ref="halService"/>
		</logger>
		<logger level="INFO" name="org.apache">
			<appender-ref ref="halService"/>
		</logger>
		<logger level="INFO" name="org.springframework">
			<appender-ref ref="halService"/>
		</logger>
	</loggers>
</configuration>
